form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.btn-submit {
    border: none;
    color: #eee;
    background: rgb(4, 116, 4);
    box-shadow: 2px 2px 8px black;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;

    &:hover {
        box-shadow: 2px 3px 10px black;
    }
}

span {
    display: flex;
    justify-content: space-between;
}